// Color
$body-color: #000000;
$primary: #FFD600;
$primary-50: #FFD600;
$secondary: #000000;
$info: #FFD600;
$success: #37D80A;
$success-50: #1E8308;
$success-60: #25B003;
$warning: #FFD600;
$danger: #FD5812;
$danger-50: #EE3E08;
$light: #FFFFFF;
$dark: #000000;
$border-color: #ECEEF2;
$body-bg: #FFFFFF;
$primary-div: #FFD600;
$primary-div-50: #FFD600;
$danger-div: #FFCEA9;
$gray-light: #445164;
$rating-color: #FFD600;
$card-bg-c: #FFD600;
$card-text-c: #000000;
$gary-light: #F4F6FC;
$gray-div: #f7f8f7;
$transition: all ease .5s;
$box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
$body-font-family: "Inter", sans-serif;

// For Dark Mode Color
$dark-body-bg: #000000;
$dark-body-color: #FFD600;
$dark-card-bg: #000000;
$dark-input-bg: #222222;
$dark-border: #FFD600;

// Font Size
$font-size-root: null;
$font-size-base: .88rem; // Assumes the browser default, typically `16px`
$font-size-sm: $font-size-base * .875;
$font-size-lg: $font-size-base * 1.25;

$h1-font-size: $font-size-base * 2.5; // Updated 43.2px
$h2-font-size: $font-size-base * 2.3; // Updated 36.8px
$h3-font-size: $font-size-base * 1.8; // Updated 28.8px
$h4-font-size: $font-size-base * 1.4; // Updated 22.4px
$h5-font-size: $font-size-base * 1; // Updated 17.6px
$h6-font-size: $font-size-base; // Updated 16px